<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="create/"><button>create</button></a>

    <h1>myhome page</h1>
    {% for i in dts %}
    
    <p>Task Name:{{ i.name }}</p>
    <p>Description:{{ i.description }}</p>
    <a href="update/{{i.id}}/"><button>Update</button></a>
    <a href="delete/{{i.id}}/"><button>delete</button></a>
    {% if i.status == "pending" %}
    <a href="completedwork/{{i.id}}/"><button>completed work</button></a>
    {% endif %}
    <p>status:{{ i.status }}</p>
    <hr>
    {% endfor %}

</body>
</html>