<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Task</h1>
    <form action="" method="get" >
        <label for="">task title:</label><input type="text" name="name" value="{{ d.name}}"><br>
        <label for="">description</label><input type="text" name="description" value="{{d.description}}"><br>
        <label for="">status</label>
          <select name="status" id="">
            <option value="pending">pending</option>
            <option value="completed">completed</option>
          </select>  
        <button >submit</button>
        
    </form>
    
</body>
</html>